/* General Styles */
:root {
  --deep-blue: #0c1b2f;
  --ligth-grey: #a6b2c7;
  --full-white: #ffffff;
  --black: #000000;
  --countries: #efebff;
  --carmin-red: #c41c1c;
  --carmin-brigth: #ff0000;
  --carmin-ligth: #ff6e6e;
  --violet: #eb77eb;
  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 18px;
  --font-xl: 24px;
  --font-xxl: 32px;
  --font-hero: 48px;
  --font-teko: "Teko", sans-serif;
  --font-roboto: "Roboto Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-lg);
  height: 100%;
}

input {
  font-size: var(--font-md);
  border-radius: 5px;
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

body {
  line-height: 1.6;
  background-color: var(--deep-blue);
  font-family: var(--font-roboto);
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  font-size: var(--font-sm);
  color: var(--full-white);
  z-index: -10;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

button {
  cursor: pointer;
  padding: 6px;
  background: var(--carmin-red);
  border: none;
  color: var(--full-white);
  font-size: var(--font-md);
  transition: background 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background: var(--carmin-brigth);
}

button:disabled {
  cursor: default;
  background: var(--carmin-ligth);
}

.flex_container {
  width: 100%;
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.button_hollow {
  background-color: transparent;
  font-size: var(--font-sm);
}

.button_hollow:hover {
  background-color: transparent;
  color: var(--carmin-brigth);
}

.hero__section {
  padding-bottom: 5rem;
}

/* Join Page Styles */
.hero__header {
  min-height: 3em;
  border-bottom: 0.03em var(--ligth-grey) solid;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.hero__header-item--svg {
  max-width: 8.5em;
}

.hero__header-item-rigth {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 1 auto;
}

.hero__header-item-rigth button.hero__header-item--btn,
.hero__header-item-rigth span.hero__header-item--text {
  min-width: 4em;
}

.hero__header-item--btn-login {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
}

.hero__header-item--btn-login:hover {
  background: transparent;
}

.hero__header-item-rigth .hero__header-language {
  min-width: 20ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__header-item-rigth span.hero__header-item--text {
  color: var(--full-white);
  padding-left: 0.5em;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  font-size: var(--font-md);
  cursor: pointer;
}

.fa-globe {
  color: var(--countries);
  font-size: 1.2rem;
}

#selected-lang {
  font-size: var(--font-md);
}

.fa-user-circle {
  color: var(--carmin-red);
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto;
}

.fa-user-circle:hover {
  color: var(--carmin-brigth);
}

.hero__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__title-main {
  font-size: var(--font-hero);
  font-family: var(--font-teko);
  color: var(--full-white);
  text-align: center;
  margin-top: 0.8em;
  line-height: 1.8em;
  width: 100%;
}
@media (min-width: 30em) and (max-width: 40em) {
  .hero__title-main {
    line-height: 1.8em;
  }
}
@media (max-width: 1.6em) {
  .hero__title-main {
    line-height: 1.3em;
  }
}

.hero__title-main span.yes {
  font-size: 65px;
}

.hero__title-subtitle {
  font-size: var(--font-lg);
  font-family: var(--font-roboto);
  color: var(--carmin-red);
  text-align: center;
  max-width: 50%;
}

.hero__title-users {
  color: var(--ligth-grey);
  font-size: var(--font-md);
  margin-top: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.hero__title-users i {
  overflow-y: hidden;
}

.fa-comments {
  color: var(--carmin-red);
  line-height: 1em;
}

.hero__form {
  min-width: 250px;
  max-width: 250px;
  margin-top: 1em;
}

.hero__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__form form input {
  /* border-radius: 5px;
  color: var(--ligth-grey); */
  margin: 0.25em;
  min-width: 100%;
}

.hero__form form button {
  margin: 0.25em;
  min-width: 100%;
  padding: 14px;
}

.header--opacity {
  opacity: 0;
}

button#hero-logout,
button#hero-join {
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
}

/* Chat Page Layout */

.chat {
  display: flex;
  min-height: 70vh;
  max-height: 85vh;
}

.chat__sidebar {
  color: white;
  background: var(--deep-blue);
  width: 225px;
  overflow-y: scroll;
}

/* Chat styles */

.chat__header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.chat__header--user {
  color: var(--ligth-grey);
  font-size: var(--font-lg);
  font-weight: 600;
  align-self: center;
}

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--countries);
}

.chat__footer {
  position: relative;
  padding-top: 2rem;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 70px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: var(--deep-blue);
  padding: 24px;
}

.room-title strong {
  color: var(--violet);
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 24px 24px 0 24px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 0 24px 0 24px;
  color: var(--violet);
}

.menu__row {
  width: 90%;
  font-size: 0;
}

.menu__list {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.2rem;
}

.menu__link {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--full-white);
  font-weight: 500;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (max-width: 30em) {
  .menu__link {
    padding: 0.5rem 0.6rem;
  }
}
.menu__link:hover {
  background: #16414f;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px;
  margin: 0;
  min-width: max-content;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus {
  background: #f0f0f0;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.back-btn {
  display: flex;
  align-items: center;
  color: white;
  border: none;
  padding: 10px 15px 10px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.back-btn i {
  margin-right: 8px;
}

.modal__container {
  overflow: hidden;
  background-color: #fff;
  width: 400px;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.modal__container > input {
  width: 100%;
  border: 2px solid var(--deep-blue);
}

.modal__container > input#email {
  margin-bottom: 10px;
}

.modal__footer {
  text-align: center;
}

.modal__footer .modal__btn {
  display: inline-block;
  min-width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px 6px;
  display: flex;
  color: var(--carmin-ligth);
  font-size: 20px;
  cursor: pointer;
}

.modal__close:hover {
  color: var(--carmin-red);
}
